h1{
    color: red;
    text-decoration: double;
    text-align: center;
 }
 h2{
    color: darkgoldenrod;
    text-decoration: underline;
 }
 h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 #banner, banner{
    padding-bottom: 1px;
    padding-top: 5px;
 }

 #banner p, banner p{
    margin: 0;
 }

 #nav, nav{
    background-color: rgb(234, 132, 14);
    color: rgb(52, 65, 252);
    padding: 10px;
    text-align: center;
 }
 #nav a, nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: larger;
    margin-right: 8px;
    padding: 10px;
 }

 #footer, footer{
    background-color: rgb(65, 238, 254);
    min-height: 30px;
    text-align: center;
 }
 #footer a, footer a{
    color: aliceblue;
    text-decoration: solid;
 }


 .Different text{
    font-size: large;
    font-family: serif;
    font-weight: bold;
 }

 .weird color{
    color: lightcoral;
 }