h1{
    color: red;
    text-decoration: double;
    text-align: center;
 }
 h2{
    color: darkgoldenrod;
    text-decoration: underline;
 }
 h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 #banner, banner{
    padding-bottom: 1px;
    padding-top: 5px;
 }

 #banner p, banner p{
    margin: 0;
 }




 .Different text{
    font-size: large;
    font-family: serif;
    font-weight: bold;
 }

 .weird color{
    color: lightcoral;
 }